#conparent1{
display: flex;
background-color: #FEF7EF;
padding-left: 20%;
margin-top: -1%;
}
#conchild3{
    display: flex;
    justify-content: space-around;
}
#conchild2{
  margin-top: 1%;
}
#conchild1>img{
width: 80%;
height: 80%;
margin-top: 15px;
}
#conchild3 >a{
    color: #903E38;
}
#conparent2{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
#conchild4{
    display: flex;
    justify-content: space-around;
}
#conchild5{
    display: flex;
}
#conchild6{
    display: flex;
}
#conchild7{
    display: flex;
}
#image{
    margin-right: 10%;
}
#conchild8 >button{
 width: 40%;
 height: 30px;
 background-color: #FF6F61;
 color: #FEF7EF;
 margin-top: 5%;
}
#chart{
    padding-left: 90px;
    padding-top: 5%;
}
#conparent3{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
#head{
   padding-left: 650px;
    color: gray;
}
#conparent4{
    display: flex;
    background-color: #FBFAFA;
    /* justify-content: center; */
    justify-content: space-around;
    margin-right: 30%;
}
#conchild9>h3{
    color: gray;
}
#btn1{
    background-color: #FF6F61;
    color: #FEF7EF;
    width: 40%;
    height: 30px;
}
#pic{
    margin-left: 200px;
    height: 75%;
}
 
.footDivs{
    text-align: center;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
    #footDivs {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      gap: 50px;
      margin: auto;
    }
  
    
    #heading {
      font-size: x-large;
    }
    #send-link-btn :hover{
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  
    #send-link-btn {
      cursor: pointer;
    }
    
    .final-foot-div {
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 10%;
      margin-bottom: 5%;
    }
  
    .footer-para {
      font-size: large;
      color: rgb(81, 78, 78);
    }
    .general > p{
      margin-bottom: -3%;
      cursor: pointer;
    }
    .connects {
      display: flex;
      justify-content: space-evenly;
    }
    
    .lower-footer-1 {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .lower-footer-1 > div {
      width: 70%;
      display: flex;
      align-items: center;
      margin: auto;
    }
  
    .lower-footer-1 > div > div{
      justify-content: space-between;
    }
    .lower-footer-2 {
      margin-top: 5%;
      align-items: center;
      text-align: center;
    }