
  #parent-container {
    height: 100%;
    width: 100%;
  }
  

  
  #flexBox-1 {
    display: flex;
    width: 100%;
    margin-top: 5%;
  }

  #slider {
    /* display: flex; */
    width: 75%;
    background-color: aqua;
    cursor: pointer;
  }
  #slider > img {
    width: 100%;
    height: 100%;
  }
  #fixedImage > img{
    width: 100%;
    height: 100%;
  }
  #fixedImage {
    margin-left: auto;
    width: 30%;
  }
  #page {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    margin: auto;
  }
  #page > div :hover{
    background-color: black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #page > div {
    width: 2%;
    height: 8px;
    background-color: rgb(158, 160, 160);
    margin-top: -10%;
    border-radius: 100%;
  }

  #care-plan {
    width: 80%;
    padding: 5% 10% 5% 10%;
    margin-top: -2%;
  }
  #care-plan > img {
    width: 100%;
  }

  #flexBox-2 {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 250px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }

  #flexBox-2 > div {
    width: 10%;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    height: 70%
  }

  #flexBox-2 > div > image {
    width: 100%;
  }

  #flexBox-2 > div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  

  

  
  


  #flexBox-3 {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 250px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  }

  #flexBox-3 > div {
    width: 10%;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
    height: 70%;
  }

  #flexBox-3 > div > image {
    width: 100%;
  }

  #flexBox-3 > div:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  

  #flexBox-3  > button{
    width: 2%;
    height: 20%;
    text-align: center;
    border-radius: 60%;
  }

  #see-all {
    background-color: #ff6f61;
    color: white;
    border-radius: 5px;
    width: 5%;
    height: 4%;
    margin-right: 3%;
  }

  #see-all {
    text-align: center;
    cursor: pointer;
  }
  
  
  

    

  
  

  

  