

/* *{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */
.navbar{
    position: sticky;
    top: 0;
    /* margin-top: 0;
    padding-top: 0; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar a{
    text-decoration: none;
    color: #000;
}
.navbar a:hover{
    color: red;
}
.first_div{
    position: relative;
}
.first_div>.f1>img{

    margin-right: 20px;
    float: left;
    width: 100px
}
.cart{
    width: 50px;
}
.c1>.cart_hovar{
    position: absolute;
    display: none;
    right :150px;
    top:30px;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* border: 1px solid #000; */
}
.cart_hovar>div{
    display: flex;
    width: 200px;
    padding: 2px, 10px;
    margin: 10px;
    /* text-align: center; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid #000; */
}
#x12{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    /* border: 1px solid #000; */

}
#proceed_to_cart{
    margin: auto;
    color: red;
}
.c1:hover>.cart_hovar{
    display:initial
}




.first_div{
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 2%;
    border-radius: 5px;
    line-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color:RGB(255, 255, 255);
}

.first_div>.f2{
    display: flex;
    align-items: center;
    width: 100%
    /* height: 15px; */
    /* justify-content: space-between; */
    
}
.first_div>.f3{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    float: left;
}
.first_div>.f3>div{
    display: flex;
    align-items: center;
}
.first_div>.f3>div>span{
    width: 100%;
    margin: auto;

    /* border: 2px solid black; */
}

.f2>div>a{
    padding:0 20px;
}
.loc, .img_search{
    width: 15px;
}
.second_div{
    /* border: 1px solid yellow; */
    display: flex;
    /* width: 98.6%; */
    /* box-sizing: border-box; */
    padding: 10px;
    line-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color:RGB(255, 255, 255);
    margin-bottom: 0;
    overflow: hidden;
}
.second_div>.z1{
    display: flex;
    /* align-items: center; */
    margin: auto;
    padding: 0 5%;
    
}
.second_div>.z1>div{
    display: flex;
    align-items: center;
    background-color:RGB(241, 244, 246);
    border-radius: 7px;
    margin-right: 2px;
    padding-left: 10px;

}
.second_div>.z1>div>input{
    background: none;
    border: none;
    color: black;
    line-height: 35px;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}
.search_product{
    width: 450px;
}
.z1_search1{
    width:100%
}
.z2{
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    /* margin-right:0; */
}
.z2>div>p{
    /* width: 350px; */
    background-color:RGBA(0, 0, 0, 0);
    line-height: 20px;
    align-items: center;
    /* padding:12px 15px 12px 0px; */
}
.quick_order{
    width: 125px;
    background-color:RGB(255, 111, 97);
    border: none;
    line-height: 14px;
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 15px;
}
.third_div{
    /* margin: 10px auto; */
   padding: 0 6%;
   background-color:RGB(255, 255, 255);
   display: flex;
   flex-wrap: wrap;
   /* text-align: center; */
   justify-content: center;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.third_div>div{
    margin: 5px 5px;
    /* display:flex; */
    /* flex-direction: column-reverse; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* float: left; */
    align-items: center;
    /* width: 200px; */
    line-height: 25px;


}
.third_div>div>img{
    width:15px;
    height:15px;
    border-radius: 50%;
    margin: 0 10px;
}  
.dummy{
    display: block;
    width: 100%;
    margin-top: 40px;
    /* border: 2px solid green; */
    /* height: 100%; */
}
.third_div>div>.m1{
    position: absolute;
    /* top: 0; */
    left: 100px;
    display: none;
    margin-top: 20px;
    /* margin-left: 0; */
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.third_div>div:hover>.m1{
    display: initial;
}
.m2{
    position: absolute;
    display: none;
    margin-top: 0;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
}
.third_div>div:hover>.m2{
    display: initial;
    display: flex;
    margin-right: 5px;
}
.m2>div{
    /* border-left:1px solid #000; */
    margin: 5px;
}
.m3{
    position: absolute;
    display: none;
    margin-top: 0;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
}
.third_div>div:hover>.m3{
    display: initial;
    display: flex;
    margin-right: 5px;
}
.m4{
    position: absolute;
    display: none;
    /* top: 150px; */
    margin-top: 0;
    /* margin-right: 100px; */
    /* right: 20px; */
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
}
.third_div>div:hover>.m4{
    display: initial;
    display: flex;
    /* margin-right: 10px; */
    /* padding: 20px; */
    
}

.m5{
    position: absolute;
    display: none;
    margin-top: 0;
    padding: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    border: #000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;   
}
.third_div>div:hover>.m5{
    display: initial;
    display: block;
    
}






@media screen and (min-device-width: 481px)
and (max-device-width: 950px) {
    .first_div{
        display: flex;
        flex-direction: column;
    }
    .first_div>.f2{
    display: none;
  }
  .second_div>.z2{
    display: none;
  }
  .z1_search1{
    display: none;
  } 
 

  
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .first_div{
        display: flex;
        flex-direction: column;
    }
    .first_div>.f3{
        width: 100%;
        margin:auto;
    }
    .f3>div>span{
        display: none;
    }
    #login{
        display:initial
    }
    .first_div>.f2{
        display: none;
      }
      .second_div{
        margin: auto;
      }
      .second_div>.z2{
        display: none;
      } 
      .z1_search1{
        display: none;
      } 
      .search_product{
        width: 200px;
      }
}



