body{
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#mindex{
    margin-left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid ;
    padding: 10px;
}
#mindex>#mind{
    font-size: 1.3rem;
    color: #666;
}
#mindex>div>p{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fef1db;
    color: #666;
}
#mindex>div>p>img{
    cursor: pointer;
}
#alpha{
    margin-top: 5px;
    padding: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#alpha>div{
    width: 80%;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter{
    padding: 5px 10px;
    font-size: 1.3rem;
    border: 1px solid #ff6f61;
    background-color: white;
    color:#ff6f61;
    border-radius: 5px;
    cursor: pointer;
}
.filter.active{
    background-color: #ff6f61;
    color: white;
}
#results{
    width: 80%;
    margin-left: 10%;
}
#prodcontainer{
    width: 80%;
    margin-left: 10%;
}
#gridcon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
#items{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 10px 10px;
}
#div1{
    width: 60px;
    margin-top: 5%;
}
#div1>img{
    height: 50px;
    width: 50px;
    margin-right: 5px;
}
#div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#div2>p{
    margin-bottom: 0;
    margin-top: 5px;
}
#div2>h3{
    color: #666;
    margin-bottom: 5px;
}
#div3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    align-content:flex-end;
    height: 100%;
}
#div3>h3{
    color: #666;
}
#cartbutton{
    border: none;
    color:#ff6f61;
    font-size: large;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
}
#div4{
    display: flex;
}