#navbar {
    /* border: 1px solid red; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2  .6px; */
    height: 40px;
    display: flex;
    background-color: white;
    margin: 0;
}

#navbar>div:nth-child(1) {
    /* border: 1px solid green; */
    width: 112px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    width: 95px;
    margin-top: 3%;
    margin-left: 5%;
}

#navbar>div:nth-child(2) {
    width: 50%;
}

#navbar>div:nth-child(2)>div {
    /* border: 1px solid yellow; */
    background-color: #f1f4f6;
    margin-top: 5px;
    height: 30px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar>div:nth-child(2)>div>p {
    color: #a3a3a3;
    font-size: small;
    margin-left: 20px;
}

#navbar>div:nth-child(2)>div>i {
    color: #a3a3a3;
    font-size: small;
    margin-right: 20px;
}

#navbar>div:nth-child(3) {
    margin-left: 32%;
}

#navbar>div:nth-child(3)>p {
    font-size: 12px;
}

#CheckoutParent {
    height: 500px;
    width: 585px;
    /* border: 1px solid crimson; */
    margin: 90px 0px 30px 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
}

.CheckBox {
    height: 15px;
    width: 15px;
    border-radius: 100%;
}

#Flat_Number {
    padding: 5px 400px 45px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#Landmark {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#Pincode {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#Locality {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#City {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#State {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#Customer_Name {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#Mobile_Number {
    padding: 5px 400px 5px 10px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid rgb(230, 213, 213);
}

#CancelAndSave {
    display: flex;
    justify-content: right;
    gap: 10px;

}

.CanAndSaveBtn {
    padding: 10px 30px 10px 30px;
    font-size: large;
    border: none;
    cursor: pointer;
}

#SaveAddress {}

#CheckOutFooter {
    height: 220px;
    width: 585px;
    padding: 10px;
    display: flex;
    gap: 20px;
    /* border: 1px solid crimson; */
    margin: 10px 0px 0px 150px;
}

#CheckOutFooter :nth-child(1) {
    height: auto;
    width: 290px;
    /* border: 1px solid coral; */
}

#CheckOutFooter :nth-child(2) {
    height: auto;
    width: 220px;
}

.FooterPara {
    font-size: 11px;
    line-height: 15px;
    color: rgb(142, 134, 134);
}