#navbar {
  height: 40px;
  display: flex;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  width: 95px;
  margin-top: 3%;
  margin-left: 5%;
}

body {
    font-family: "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ebecec;
    background: #f8f8f8;
    margin: 0;
  }
  .bold {
    font-weight: 900;
  }
  .orange {
    color: #ff6f61;
  }
 
  /* summary section */
  #page-title {
    /* border: 1px solid seagreen; */
    margin-left: 12%;
    color: #212121;
    font-weight: 500;
    font-size: 18px;
  }
  
  /* Container */
  #container {
    border: 1px solid seagreen;
    /* height: auto; */
    width: 980px;
    /* margin: auto; */
    /* margin-top: -10px; */
    margin-left: 11%;
    display: flex;
    justify-content: space-between;
  }
  /* first container */
  #FirstContainer {
    border: 1px solid blue;
    /* height: auto; */
    width: 620px;
  }
  /* cards */
  #container > div:nth-child(1) > p {
    margin-left: 15px;
    margin-bottom: 2%;
    margin-top: 3%;
    color: #333;
  
    font-size: 15px;
  }
  
  
  
  .footer-text {
    /* border: 1px solid red; */
    width: 94%;
    margin: auto;
    margin-top: 10%;
    font-size: 10px;
    color: #757575;
    line-height: 1.42857143;
  }
  
  #rightpart { 
    /* position: absolute;
   right: 0px; */
   float: right;
   margin-right: 100px;
   margin-top: 0px;
}

#rightpart>div {
   width: 420px;
   /* border: 1px solid red; */
   margin: 30px;
   
}

#FirstChild {
   height: 150px;
   line-height: 5px;
   /* padding: 5px; */
   border: 1px solid rgb(238, 231, 231);
   background-color:white
}
#price-details {
  border: 1px solid rgb(238, 231, 231);
  background-color:white
  }
 
  #price-details p {
    font-size: 12px;
    color: #333;
  }
  #price-details h5 {
    color: #767676;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  #price-details > div {
    /* border: 1px solid seagreen; */
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    height: auto;
  }
  #price-details > div:last-child {
    background-color: #e4f6e7;
  }
  #price-details > div:last-child > h5 {
    color: rgb(26, 171, 42);
  }
  
  #checkout-btn{
    height: 50px;
    width: 420px;
    /* border: 1px solid coral; */
    
  }
  #checkout-btn button{
    padding: 16px 131px 16px 131px;
    background-color: #ff6f61;
    border-style: none;
    color: #e4f6e7;
    cursor: pointer;
  }
  .footer-text {
    /* border: 1px solid red; */
    width: 580px;
    margin: 20px 0px 0px 130px ;
    font-size: 10px;
    color: #757575;
    line-height: 1.42857143;
  }
  #DeliveryPrediction{
    height: 25px;
    width: 560px;
    /* border: 1px solid crimson; */
    margin-left: 130px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0px 10px 0px 10px;
    background-color: rgb(240, 232, 222);
  }
  #leftPart{
    margin: 0px 0px 20px 130px;
    width: 550px;
    /* height: auto; */
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgb(233, 227, 227);
    padding: 15px; 
    background: #f8f8f8;
    display: flex;
    justify-content: space-between
    
  }
  #leftPart img{
    width: 30%;
    float: right;
    
  }
  #ParentOfVerify{
    display: flex;
  }
  #FirstChild{
    padding: 15px;
    font-size: small;
    line-height: 10px;
  }